.card-deck {
  max-width: 80rem;
}

.card {
  width: calc(100% / 3 - 2rem);
}

.card img {
  height: 9rem;
}

.floating {
  position: relative;
  top: -0.75rem;
  right: 1.75rem;
  margin-right: -1.75rem;
}