.card-deck {
  max-width: 80rem;
}

.card {
  width: calc(100% / 3 - 2rem);
}

.card img {
  height: 9rem;
}

.cart-indicator {
  display: inline-block;
  padding: 0.25rem 1rem;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity));
  border-radius: var(--bs-border-radius-pill);
  /* top: -0.75rem;
  right: 0.75rem;
  width: 1.5rem; */
}